.content_det{
  position: relative;
  display: flex;
  justify-items: center;
  background-color: #7e71b4;
  top: 90px;
  width: 100%;
  margin: 0px;
  bottom:0px;
}

.detalle_prod{
  position:relative;
  box-sizing:border-box;
  width: 96%;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 2%;
}

.detalle_img{
  position: relative;
  float: left;
  width: 60%;
}
.detalle_info{
  position: relative;
  text-align: left;
  float: left;
  min-width: 220px;
  width: 40%;
}
.detalle_brand{
  position: relative;
  text-align: left;
  width: 100%;
  font-size: 0.8rem;
}
.detalle_description{
  position: relative;
  text-align: left;
  font-weight: 500;
  font-size: 1.2rem;
  width: 100%;
}
.detalle_precio{
  position: relative;
  text-align: left;
  padding-top: 10px;
  font-weight: 800;
  font-size: 2.5rem;
  width: 100%;
}

.prods_img_det{
    position: relative;
    float: left;
    width: 100%;
    height: 420px;
    font-weight: bolder;
    z-index: 0;
}

@media (max-width: 780px) {
  .detalle_img{
    width: 100%;
    height: auto;
  }
  .det_img{
    width: 100%;
    height: auto;
  }
  .prods_img_det{
    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
    height: fit-content;
    font-weight: bolder;
    z-index: 0;
  }

  .detalle_info{
    width: 100%;
  }

  .detalle_brand, .detalle_description, .detalle_precio{
    text-align: center;
  }
}